{% load static %}
{% block content %}<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Modern Flat Design Login Form Example</title>
  <link rel="stylesheet" href="{% static '/login2/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'><span class="badge bg-success">Reservation </span></h1>
        </div>
        <p class='msg'>{{ msg }}</p>
    <form class="login-form" method="POST">
        {% csrf_token %}
      <input type="text" name="username" id="username" placeholder="User"/>
      <input type="password" name="password" id="password" placeholder="Mot de Passe"/>
      <button class="btn-login" type="submit" value="Submit"> Connecter </button>
     
    </form>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static '/login2/script.js' %}"></script>

</body>
</html>


{% endblock %}
